<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vins_nerf.jni.dao.VinsCameraTypeMapper">
    <resultMap type="VinsCameraType" id="vinsCameraTypeMap">
        <id property="id" column="ID"/>
        <result property="phoneTypeId" column="PHONE_TYPE_ID"/>
        <result property="position" column="POSITION"
                typeHandler="com.vins_nerf.core.enums.handler.VinsCameraPositionHandler"/>
        <result property="selection" column="SELECTION"/>
        <result property="value" column="VALUE"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="query" resultMap="vinsCameraTypeMap" parameterType="VinsCameraType">
        SELECT * FROM vins_camera_type
        <where>
            <if test="id != null">and `ID` = #{id}</if>
            <if test="phoneTypeId != null">and `PHONE_TYPE_ID` = #{phoneTypeId}</if>
            <if test="position != null">and `POSITION` = #{position}</if>
            <if test="selection != null">and `SELECTION` = #{selection}</if>
        </where>
    </select>

    <insert id="insert" parameterType="VinsCameraType" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO vins_camera_type(
        `ID`,
        `PHONE_TYPE_ID`,
        `POSITION`,
        `SELECTION`,
        `VALUE`,
        `VERSION`,
        `CREATE_TIME`,
        `UPDATE_TIME`
        ) VALUES (
        #{id},
        #{phoneTypeId},
        #{position},
        #{selection},
        #{value},
        0,
        now(),
        now()
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM vins_camera_type
        <where>
            `ID` = #{id}
        </where>
    </delete>
</mapper>