<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vins_nerf.user.dao.SysUserMapper">
    <resultMap type="SysUser" id="sysUserMap">
        <id property="id" column="ID"/>
        <result property="accesskey" column="ACCESSKEY"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="project" column="PROJECT"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="query" resultMap="sysUserMap" parameterType="SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="id != null">and `ID` = #{id}</if>
            <if test="accesskey != null">and `ACCESSKEY` = #{accesskey}</if>
            <if test="phone != null">and `PHONE` = #{phone}</if>
            <if test="email != null">and `EMAIL` = #{email}</if>
            <if test="project != null">and `PROJECT` = #{project}</if>
        </where>
    </select>

    <insert id="insert" parameterType="SysUser" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO sys_user(
        `ID`,
        `ACCESSKEY`,
        `PASSWORD`,
        `EMAIL`,
        `PHONE`,
        `PROJECT`,
        `VERSION`,
        `CREATE_TIME`,
        `UPDATE_TIME`
        ) VALUES (
        #{id},
        #{accesskey},
        #{password},
        #{email},
        #{phone},
        #{project},
        0,
        now(),
        now()
        )
    </insert>

    <update id="update" parameterType="SysUser">
        UPDATE sys_user
        <set>
            <if test="accesskey != null">`ACCESSKEY` = #{accesskey},</if>
            <if test="password != null">`PASSWORD` = #{password},</if>
            <if test="email != null">`EMAIL` = #{email},</if>
            <if test="phone != null">`PHONE` = #{phone},</if>
            `VERSION` = `VERSION` + 1,
            `UPDATE_TIME` = now(),
        </set>
        <where>
            <if test="id != null">AND `ID` = #{id}</if>
            <if test="version != null">AND `VERSION` = #{version}</if>
        </where>
    </update>
</mapper>