<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vins_nerf.user.dao.SysUserReferenceMapper">
    <resultMap type="SysUserReference" id="sysUserReferenceMap">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="type" column="TYPE"/>
        <result property="unionId" column="UNION_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="headUrl" column="HEAD_URL"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="query" resultMap="sysUserReferenceMap" parameterType="SysUserReference">
        SELECT * FROM sys_user_reference
        <where>
            <if test="id != null">and `ID` = #{id}</if>
            <if test="userId != null">and `USER_ID` = #{userId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="SysUserReference" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO sys_user_reference(
        `ID`,
        `USER_ID`,
        `TYPE`,
        `UNION_ID`,
        `NICKNAME`,
        `HEAD_URL`,
        `VERSION`,
        `CREATE_TIME`,
        `UPDATE_TIME`
        ) VALUES (
        #{id},
        #{userId},
        #{type},
        #{unionId},
        #{nickname},
        #{headUrl},
        0,
        now(),
        now()
        )
    </insert>
</mapper>